/* BODY */
body {
  background-color: #2a2829;
  color: rgba(0, 0, 0, 0.8);
}

.dark-mode body {
  background-color: #dad1d1;
}

.light-mode body {
  background-color: #dad1d1;
  color: #161717;
}

.el-drawer {
  background: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  color: white;
}

/* HAMBURGER MENU */

.dark-mode .iconNav {
  fill: white;
}

.dark-mode .iconNav:hover {
  fill: #31525f;
}

.light-mode .iconNav {
  fill: #161717;
}

.light-mode .iconNav:hover {
  fill: #31525f;
}

/* FONT TYPES */

.light-mode .titleText {
  color: #161717;
}

.dark-mode .titleText {
  color: #dcd0be;
}

.dark-mode .bodyText {
  color: #dcd0be;
}

.light-mode .bodyText {
  color: #161717;
}

/* */
.dark-mode body {
  background-color: #161715;
  color: #ebf4f1;
}
.dark-mode .backcolor {
  background-color: #161715;
}

.gray-mode body {
  background-color: #bbbcb1;
  color: #251603ef;
}
.gray-mode .backcolor {
  background-color: rgba(20, 20, 20, 0.5);
}

.gray-mode .el-drawer {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Active link */
.router-link-active {
  border-bottom: 1px solid rgba(50, 64, 63, 0.2);
}
.dark-mode .router-link-active {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.gray-mode .router-link-active {
  border-bottom: 1px solid rgba(207, 207, 207, 0.5);
}
/* input */
textarea,
input,
select {
  padding: 0.5em;
  display: block;
  max-width: auto;
  margin-top: 0.2em;
  padding: 0.5em;
  border: 1px solid rgba(111, 109, 109, 0.2);
  border-radius: 4px;
  background: none;
}
.dark-mode textarea,
.dark-mode input,
.gray-mode select {
  border: 1px solid rgba(199, 197, 197, 0.8);
}
.gray-mode textarea,
.gray-mode input,
.gray-mode select {
  border: 1px solid rgba(41, 41, 45, 0.8);
}

.iconNav:hover {
  fill: red;
}
