@import url("https://fonts.googleapis.com/css2?family=Bokor&display=swap");

.titleText {
  font-weight: 800;
  font-style: normal;
  line-height: 10vh;
}

.pageTitle {
  font-size: 5em;
  font-weight: 700;
  font-style: normaæ©l;
  line-height: normal;
}

.subtitle {
  font-size: 36px;
  font-weight: 600;

  letter-spacing: 0.2px;
  font-style: normal;
  line-height: normal;
}

.bodyText {
  font-size: 14px;
  font-weight: 300;

  letter-spacing: 0.2px;
  font-style: normal;
  line-height: 25px;

  @media screen and (min-width: 1100px) {
    font-size: 20px;
  }
}

.bodyBold {
  font-weight: 500;
  font-size: 24px;
}

.navText {
  line-height: 1.5;
  font-weight: 500;
}

.navText:hover {
  color: red;
}

.layoutDescription {
  color: white;
}
